# logs
logs
*.log

# build directories
dist
dist-ssr
build
out

# dependency directories
node_modules

# misc
.DS_Store
*.pem
.env
.env.local
.env.*

# coverage
coverage

# IDEs and editors
.idea/
*.swp
*.swo

# Go binaries
apps/backend/main
apps/backend/migrate
